.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: var(--color-primary-variant);
    height: 8.438rem;
    font-size: 1.563rem;
}

.header_title{
    margin: 0;
    color: white;
}